{#
/**
 * @file
 * Template for the Insta feed.
 *
 * Available variables:
 * - media_url: The media url.
 * - permalink: The media's permanent URL.
 *
 * @ingroup themeable
 */
#}
{% if label %}
	<h2{{ tite_attributes.addClass('block-title') }}>{{ label }}</h2>
{% endif %}

<ul class="ig-container">
  {% for post in posts %}
    <li class="ig-media">
      <a target="_blank" href="{{ post.permalink }}"><img src="{{ post.media_url }}"></a>
    </li>
  {% endfor %}
</ul>

